@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/robotoslab/BngMUXZYTXPIvIBgJJSb6ufD5qW54A.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/robotoslab/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Chevalier Zyy';
}

.toast-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/**
* Homepage
*/
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-blink {
  animation: blink 1.5s infinite;
}

/**
* Basket
*/
@keyframes slideFromRight {
  from { transform: translateX(-100%) }
  to { transform: translateX(0) }
}

.animate-slideFromRight {
  animation: slideFromRight 0.4s ease forwards;
}

@keyframes slideOutToRight {
  from { transform: translateX(0) }
  to { transform: translateX(100%) }
}

.animate-slideOutToRight {
  animation: slideOutToRight 2s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.animate-beat {
  animation: beat 0.5s ease-in-out;  /* Duration and timing—adjust as needed */
}

@keyframes beat {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.8);  /* Expand a little—adjust scale for bigger/smaller */
    opacity: 0.6;          /* Fade slightly mid-way—remove if no fade wanted */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease forwards;
}

@media (max-width: 620px) {

  .mainNav {
    max-height: 80%;
  }

  .top-menu-image-container img {
    max-width: 95%;
    width: 183px;
  }

  .card {
    max-width: 270px;
  }

  .btn-login {
    top: 0px;
    margin-left: -20px;
  }

  .product-details-text-container {
    margin-left: 0px;
  }
  
}

@media (max-width: 833px) {

  .secondaryNav {
    position: relative;
    top: -25px;
    left: -33px
  }

  .navbar-end {
    justify-content: center;
    position: relative;
    top: 30px;
    left: -220px
  }

}

