@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
    }
    20%, 22%, 24%, 55% {
      opacity: 0.2;
    }
  }
  
  @keyframes pulseLight {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
  
  @keyframes clouds {
    0% { transform: translateX(0); }
    100% { transform: translateX(-25%); }
  }
  
  .animate-flicker {
    animation: flicker 1.5s infinite;
  }
  
  .animate-pulseLight {
    animation: pulseLight 2s infinite;
  }
  
  .animate-clouds {
    animation: clouds 60s linear infinite;
  }  
  
  